.animation__shake {
    -webkit-animation: shake 1500ms;
    animation: shake 1500ms;
}

.animation__wobble {
    -webkit-animation: wobble 1500ms;
    animation: wobble 1500ms;
}

.preloader {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #f4f6f9;
    height: 100vh;
    width: 100%;
    transition: height 200ms linear;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

.dark-mode .preloader {
    background-color: #454d55 !important;
    color: #fff;
}